body {background-color: greenyellow;}
body {back-color:black}








h1 {background-color: grey;} 
h1 {letter-spacing: .4em;}
h1 {font-size: 60px;}
margin: 0 px;
up
h2 {background-color: grey;}
h3 {background-color: blue;}
h4 {background-color: grey;} 
h4 {font-size: 40px;}
h5 {font-size: 30px;}
h6 {font-size: 13px;}
h7 {color:darkblue;} 
h7 {font-size:30px;}
h8 {font-size: 40Px;}
h9 {color:black}
h10 {text-transform: uppercase;}
h11 {text-transform: uppercase;}
h12 {font-size: 25px;}
h13 {font-size: 25px;}
h14 {font-size: 25px;}
h15 firts-line {color: red;}



o











p aling center {background-color: grey;}